[2014-05-19 07:45] rin opened #1 "Add bitboxer to this repo"
@rmehner, can you add @bitboxer too?

[2014-05-19 08:15] rmehner commented on #1
Done.

[2014-05-19 08:15] #1 closed, assigned to nobody

[2014-05-20 13:28] rin opened #2 "add Gonçalo to the repo"
… and @gpestana, too? :) thanks!

[2014-05-20 18:52] rmehner commented on #2
Done :)

[2014-05-20 18:52] #2 closed, assigned to nobody

[2014-05-20 20:06] janl opened #3 "08.09-09.09: IndieWebCamp"

[2014-05-20 20:07] janl opened #4 "Any time, BYOE: Bring Your Own Event"
You can run your own event and we add it to the jsfest schedule.

Ideas:
- Open Office Hours
- Mozilla Docsprint

[2014-05-20 20:07] janl opened #5 "09.09. UpFront Evening"

[2014-05-20 20:09] janl opened #6 "10.09. Angular meetup"
@rin, what is @agento’s GitHub?

[2014-05-20 20:09] janl opened #7 "10.09. BitCrowd Hackday: Charity Hack"

[2014-05-20 20:09] janl opened #8 "11.09. Reject.js"

[2014-05-20 20:10] janl opened #9 "12.09. CSSConf EU"

[2014-05-20 20:10] janl opened #10 "13.09.-14.09. JSConf EU"

[2014-05-20 20:11] janl opened #11 "12.09. Web Audio Event"

[2014-05-20 20:11] janl opened #12 "12.09. One Web For All Hackathon"

[2014-05-20 20:11] janl opened #13 "11.09. JS Code Retreat"

[2014-05-20 20:12] janl opened #14 "11.09. Open Tech School JS/Node/Web workshops"

[2014-05-20 20:12] janl opened #15 "15.09. Relax.js"

[2014-05-20 20:13] janl opened #16 "14.09. JSConf EU After Party"

[2014-05-20 20:13] janl opened #17 "13.09. CoderDojo"

[2014-05-20 20:14] janl opened #18 "Any: Geeks go to museums"
Computer game museum
Technical museum
food etc.

[2014-05-20 20:20] janl opened #19 "Make website pretty"

[2014-05-20 20:20] janl opened #20 "Add info from shared google doc to issues."

[2014-05-20 20:24] Kriesse commented on #19
Assigning it to me.
Any deadlines / planned announcements I should be aware of?

cc @janl @theophani

[2014-05-20 20:25] janl commented on #19
not that I know, we can launch this unstyled any time and make pretty later :)

[2014-05-20 20:25] Kriesse commented on #5
Will definitely happen.
Only the "Special Evening" is tentative.

[2014-05-20 20:26] Kriesse commented on #19
:+1:

[2014-05-20 20:28] janl commented on #5
@Kriesse feel free to adjust the labels at will :)

[2014-05-20 20:35] Kriesse commented on #12
I’m resigning from this, got too many events already :)
Open for anyone to take on.

Prototype:
http://onewebforall.us/

I’d be happy to make an intro to the organizers of OWFA in San Francisco, and share what I know about it, but won’t be able to do more.

[2014-05-20 20:41] rin commented on #6
@janv—
Sent from Mailbox

On Tue, May 20, 2014 at 10:09 PM, Jan Lehnardt notifications@github.com
wrote:

[2014-05-20 20:43] janl commented on #6
Thanks!

[2014-05-20 20:48] janl opened #21 "Should we open source this repo?"

[2014-05-20 22:23] rmehner opened #22 "10.09. Preject.js"
Well, Pre-Reject.JS @ BerlinJS

[2014-05-20 22:44] frontdevde opened #23 "xx.09. HTMLconf EU"
Last year I registered www.htmlconf.eu after a french guy dropped it in one of his tweets:

https://twitter.com/jibhaine/status/357924210733101056
https://twitter.com/jibhaine/status/357925109446623233
https://twitter.com/jibhaine/status/357942953441898496

So far there was no use case for the domain, maybe we find a use for it in the jsfest context.
Maybe create a small site that promotes jsfest,

[2014-05-20 22:58] frontdevde commented on #19
Maybe help from the community might be an option here? Then we could focus on planing the actual events. I know two young guys from Hamburg (recently joined the team behind the #dec0de meetup) who most likely would love to take on this task. Shall I shoot them a mail and ask whether they would have time for this?

[2014-05-20 23:00] janl commented on #19
On 21 May 2014, at 00:58 , Michael P. Pfeiffer notifications@github.com wrote:

+1, this is partly the reason why I suggested open sourcing the repo :)

[2014-05-20 23:10] Kriesse commented on #19
+1 community help
But would be nice to ask Berlin locals first.

[2014-05-20 23:20] frontdevde commented on #19
Relying on locals for the help with the events, yes.

Not sure though why the location of contributors should be of any concern for a website? More relevant that someone has time to take on the task and focus on it, no?

[2014-05-20 23:39] frontdevde opened #24 "Twitter acc for jsfest"
I'm not sure whether there is already an account that I'm just not aware of but...

...it might come in handy to have a dedicated Twitter acc for jsfest. Especially during the event week itself it would be nice if people could follow one account and get all the information for all the events in one place. Might also reduce the noise in the streams of each event for people who only attend one speci

[2014-05-20 23:48] maxfell commented on #24
Good idea! Even if that account mainly retweets the other accounts or vice versa it's nice to have.

[2014-05-20 23:49] maxfell commented on #18
+1

[2014-05-20 23:54] janl commented on #24
+1

[2014-05-21 00:32] Onna-no-hito opened #25 "School of Ma/Week-long workshop after JSFest?"
copied from the google doc over here.
this is my idea/proposal-- basically what i want to know is-- what is the procedure for getting approval for a proposal? i'd like to know next steps if there are any. thanks!

in collaboration w/school of machines, making & make-believe (http://schoolofma.org/)-- a week-long workshop from Sept. 15-19 for 10-15 students-- selection of attendees from the weeks p

[2014-05-21 02:53] Kriesse opened #26 "CSSlabs / CSSclasses"
cc @plique @QateOh @kriesse
- [x] Finalize concept
- [ ] Agree on schedule
- [ ] Find location(s)
- [ ] Find sponsors
- [ ] Find coaches

[2014-05-21 02:56] Kriesse commented on #18
Aw :)
Hamburger Bahnhof (Zeitgenössisches)
Neue Nationalgalerie und drumherum (Architektur + Skulptur)
Can make contacts to tour guides and give some orga tips.

[2014-05-21 02:58] Kriesse commented on #5
cc @maxfell @espy @QateOh

@theophani Can we count you in for talk and / or host?

We should ask Alex Sexton if he wants to give his talk from DHTML conf.

[2014-05-21 06:37] janv commented on #6
It's on September 10th.
http://www.meetup.com/AngularJS-Meetup-Berlin/events/182645922/

[2014-05-21 07:15] janl commented on #6
@janv As Bitcrowd are planning to do their hackathon that day, do you have another venue for this? If not we are happy to help find one :)

[2014-05-21 07:24] bitboxer commented on #6
Hm...can't we find a way to integrate both? This would create a "two track" event.

[2014-05-21 07:28] janl commented on #6
I don’t know if your office can host two distinct events.

[2014-05-21 07:33] bitboxer commented on #6
No, we can't. But at least let's think about what we can do to avoid two tracks on the same day :wink: . There are other days with two events, too. Do we want that? I prefer a one track thing but I am okay with more than one event at the same time if the group decided to do it this way. Sorry if you already talked about that in the skype call.

[2014-05-21 07:36] janl commented on #6
We definitely want many many events going on at the same time. Remember that the individual events can only hold a fraction of the people who would go to reject/cssconf/jsconf, so we actually need some variety :)

It should be easy to find another venue for this one.

[2014-05-21 07:39] janv commented on #6
I'm not 100% sure of our schedule for the rest of the year.
We have actually been considering making the Angular meetup a bi-monthly event.

[2014-05-21 07:51] janl commented on #6
I’t be fantastic to have an angular event for jsfest regardless of your schedule :)

[2014-05-21 08:01] janv commented on #6
I'll talk to @AliAlbazaz about it

[2014-05-21 08:16] rmehner commented on #6
Current plan is to also have a BerlinJS meetup on that day, see #22. Reject.JS will have around 200 people (maybe a bit more), so there's definitely place for more than one meetup. Or we find a venue where we can have both at the same time, so people can roam between the Angular meetup and the other one.

FYI: Added @AliAlbazaz to this repo

[2014-05-21 08:19] rmehner commented on #21
Main reason for making this private was to prevent "leaking" events, as I didn't want to announce events that might not  happen. Also to avoid budgets leaking (if that's a thing at all, I actually like being transparent with this).

[2014-05-21 08:32] theophani commented on #5
Yes. Not sure exactly what yet.

[2014-05-26 07:40] mroderick commented on #19
I have an idea for a schedule for the entire week.

Something oriented like this:

![jsfest schedule](https://cloud.githubusercontent.com/assets/20321/3080011/f494447e-e4a8-11e3-82b9-5d3d96631730.png)

[2014-05-26 07:44] mroderick opened #27 "Welcome guide?"
Do you think it would be worthwhile to publish an updated version of http://roderick.dk/geeks-welcome-to-berlin/ on the jsfest.berlin website?

[2014-05-26 08:51] theophani commented on #19
Love it!

[2014-05-26 11:59] janl commented on #19
+1

[2014-05-26 11:59] janl commented on #27
Yup! :)

[2014-05-26 12:01] janmonschke commented on #27
Great idea!

[2014-05-26 16:39] Kriesse commented on #19
Was bored on a plane and pushed some initial styles:
![image](https://cloud.githubusercontent.com/assets/53684/3084288/01619e3c-e4f3-11e3-9c72-a30a4de2ebf9.png)

I added RSVP/ticket buttons as the main call to action per each event, plus optional description texts and other relevant links (e.g. Call for Speakers). Let me know if that makes sense, and what else should go on this page.

@mroderick L

[2014-05-26 18:26] theophani commented on #19
Looking lively! Like the colour-code idea. Maybe coded by JS / CSS / Both / Other, or some other pattern that may emerge.

[2014-05-26 21:17] janl commented on #19
SO GOOD!

[2014-05-27 07:54] theophani commented on #19
Who has the photo of the whiteboard with the schedule plans? Can they share it here, so we can transcribe it? Thanks!

[2014-05-27 08:41] mroderick commented on #19
![2014-05-14 19 43 49](https://cloud.githubusercontent.com/assets/20321/3089098/a873722c-e57a-11e3-9262-84b10682b7bc.jpg)

It's the only photo I have

[2014-05-27 08:47] janl commented on #19
My way of transcription was creating issues for all the individual events: https://github.com/rmehner/jsfest.berlin/issues?state=open

[2014-05-27 09:03] theophani commented on #19
Ah, cool

[2014-06-11 19:36] theophani commented on #17
This date is already the regularly scheduled CoderDojo Berlin day, so it is definitely happening somewhere in the city.

[2014-06-11 19:40] theophani commented on #11
@janmonschke: Now that I have seen the new SoundCloud space, I have a some idea of where we can host this in the SoundCloud office. Are you in Berlin next week to come and have a look, and hopefully we can confirm the space right then?

[2014-06-11 19:43] theophani commented on #14
@janl Do you know if anyone contacted the OTS people about this yet?

[2014-06-11 19:44] theophani commented on #13
@nonken Is this likely enough that we can add it to the schedule, even as "tentative"? We're going to launch the site soon, and I'd love to have this on the list.

[2014-06-11 19:45] theophani commented on #18
@mroderick Ping! I think this is defs a go. We were leaning towards Wednesday?

[2014-06-11 20:14] janl commented on #14
pretty sure we haven’t

On 11 Jun 2014, at 21:43 , Tiffany Conroy notifications@github.com wrote:

[2014-06-12 00:26] rmehner commented on #14
I did, some weeks ago. @janl and @janmonschke have been in CC for that. Gonna check again once I'm back in Berlin (Thursday evening)

[2014-06-12 01:29] rmehner commented on #14
I did, some weeks ago. Both Jans have been in CC, might have overlooked this :) At the airport right now, will check once I'm home.

[2014-06-12 07:36] janmonschke commented on #11
Yes, I am in Berlin next week and I would love to check out the new office.
I'm available on Wednesday and Thursday, which one works best for you?

I'm currently writing the mail to Google and Mozilla and will send you a
draft layer today.
On Jun 11, 2014 9:40 PM, "Tiffany Conroy" notifications@github.com wrote:

[2014-06-12 07:37] nonken commented on #13
@theophani totally, we're on board! I need to catch up on a whole bunch of emails, do you need any info at this point in time?

[2014-06-12 07:42] theophani commented on #11
Thursday is wide open for me. Anytime but 16:00 works.

[2014-06-12 07:44] theophani commented on #13
I'd love to add it to our published schedule with "more details soon" if you are sure about the date.

[2014-06-12 09:01] janmonschke commented on #11
Perfect :)
Let's meet earlyish then. Around 10am or 11am if that works for you.
Should we meet at the factory? (If yes, can you post the address?)

On Thu, Jun 12, 2014 at 9:42 AM, Tiffany Conroy notifications@github.com
wrote:

[2014-06-12 16:02] rmehner commented on #21
It's open now.

[2014-06-12 16:02] #21 closed, assigned to nobody

[2014-06-12 16:07] nonken commented on #13
@theophani can you add @wolframkriesing to this repo? I just spoke with him and he mentioned the 12.09 so it is best to coordinate the date with him directly.

[2014-06-12 16:09] janl commented on #13
The repo is now public

[2014-06-12 16:09] nonken commented on #13
Oh woot

[2014-06-13 07:16] Onna-no-hito opened #30 "Informal Gathering of JSConfeu + CSSConfeu organisers"
hey ladies and gents,

hoping we can all meet up informally for food and/or drinks sometime to discuss events and ideas surrounding the big week(s)! here is a doodle, please fill it out-- NOW:)
http://doodle.com/hdycmue2qhdsiyz7xq3t2zg9/admin#table

thank-you!
cheers,rachel

[2014-06-13 12:41] theophani commented on #11
Let's go with 10:30 ;)

Here is how to get into the building:

![hq map](https://cloud.githubusercontent.com/assets/364246/3269921/a1fccf76-f2f7-11e3-93ca-16e75b6aea09.jpg)

Some up to the office (2nd floor) and I’ll meet you there.

[2014-06-15 11:16] janmonschke commented on #11
:+1:

[2014-06-15 11:22] Onna-no-hito commented on #12
just a personal opinion-- i vote no hackathon! :)

[2014-06-15 11:24] Onna-no-hito commented on #30
hey peeps, the idea is just to have an informal gathering of everyone who is helping or hoping to organise something around jsfest-- if no one fills out the doodle-- is there another suggestion for how we could have an informal face-to-face discussion as a group? any planning meetings in the works? though i still personally think an informal meetup would be nicer:)  http://doodle.com/hdycmue2qhdsi

[2014-06-15 13:31] Kriesse commented on #12
Agreed. No one seems to have bandwidth for this – closing until someone else vetoes :)
(cc @theophani @ffffux)

[2014-06-15 13:31] #12 closed, assigned to nobody

[2014-06-16 07:55] mroderick commented on #27
OK. I've updated the welcome guide (contributions welcome via https://github.com/mroderick/blog.jekyll/blob/master/geeks-welcome-to-berlin/index.md).

@theophani suggested that we link to it, but where would be a good place for the link?

[2014-06-16 11:26] janl commented on #30
I’m game! :)

On 15 Jun 2014, at 13:24 , Onna-no-hito notifications@github.com wrote:

[2014-06-16 12:04] janmonschke commented on #14
Yes, OTS has been contacted and it seems that there was interest in having an event on the 12th of September. Not sure what the current state of this is. Maybe we need to ping @ligthyear again ;)

[2014-06-16 13:53] gnunicorn commented on #14
Sorry, never got back to you about this. I was waiting for the next OTS BLN team meeting to bring it up but two were skipped and none happened since you've send me the email. I'm not personally involved in the JS group of OTS, but let me directly get you in touch with our leading coaches.

//cc @karlwestin, @sjockers, @xmartin, @gsambrotta, @autarc .

[2014-06-16 13:57] xMartin commented on #14
Hey! Is there some background info? What about this email?

[2014-06-16 14:05] janmonschke commented on #14
The idea is to have an OTS JS workshop during the week of JSFest.berlin. Maybe on the weekend of JSConf.eu.

[2014-06-16 14:08] gnunicorn commented on #14
@martin, email forwarded. It's German though and I don't have the addr of karl and autarc....

[2014-06-16 23:15] xMartin commented on #14
Ok, cool. Let's organize a JS workshop. Count me in as an organizer and I can coordinate, too.

[2014-06-17 10:30] theophani commented on #27
I like what they did on the original JSFest SF event where at the bottom they had a Info section for this kind extra stuff:

![screen shot 2014-06-17 at 12 29 19](https://cloud.githubusercontent.com/assets/364246/3298997/648ad424-f60a-11e3-8a40-089d0269db2d.png)

[2014-06-19 10:25] janmonschke commented on #11
I checked out the location at Soundcloud today together with @theophani. She has found the perfect location for ~40 people and this event is definitely going to happen. Further I asked if Mozilla and Google want to help sponsoring the event.

[2014-06-19 10:30] schoolofma commented on #30
hi everyone, thanks to those who participated! in the end the date selected is:
Friday, June 27, 2014 8:00 PM

if anyone else can make it that maybe didn't catch the doodle-wave, please join us!

now, any venue suggestions?
:)

[2014-06-19 10:34] rmehner commented on #11
I talked to Paul Irish at JSConf, he was definitely down with telling some people of the Chrome team about it. Gonna mail him later today and point him towards here. Would love to have some browser vendors on board :)

[2014-06-19 10:36] rmehner commented on #30
I'd prefer something close to co.up (if not even co.up), as I'm invited to an party right next to it on that day ;)

[2014-06-19 10:42] Kriesse commented on #5
Ping @espy @QateOh @maxfell
Upfront Organizers Meetup June 24, 8pm, ok?

[2014-06-19 10:48] Kriesse commented on #30
Same problem as @rmehner :)
How about one of the bars in Dresdner Straße (e.g. Würgeengel)?

PS: @Onna-no-hito, do you want to be my +1 on that party (it’s Till's office warm-up)? So we can just all roll together :)

[2014-06-19 16:19] espy commented on #5
Argh, I just realised I'm not free that evening after all, sorry. Thursday the 26th?

[2014-06-19 16:21] Kriesse commented on #5
I’m booked on Thursday. Could do Monday 23rd instead, or Wed 25th.

[2014-06-19 16:21] espy commented on #5
Monday is good!

[2014-06-19 16:32] janmonschke commented on #11
That would be amazing :)

[2014-06-19 19:23] QateOh commented on #5
Ich kann Montag nicht. Sorrey.

[2014-06-19 19:24] QateOh commented on #5
Dienstag -Freitag alles tutti.

[2014-06-19 19:34] QateOh commented on #5
Wednesday 25th?

[2014-06-21 01:08] schoolofma commented on #30
hey @Kriesse - like the idea of a place on Dresdner Straße!
shall i make a reservation?

ps: yes to +1 !  thanks :)

[2014-06-23 10:40] Kriesse commented on #5
@espy @QateOh @maxfell Did we decide yet?
I can do tonight, Tuesday or Wednesday, but need to know asap.

[2014-06-23 10:42] espy commented on #5
Then it'll have to be Wednesday, 20:00. Where do we meet?

[2014-06-23 10:46] Kriesse commented on #5
Ok, unless Max vetoes:
Wednesday, June 25, 8pm.

Location options:
- Kriesse’s kitchentable
- GriGri (might be to cold/rainy)
- ??

[2014-06-23 10:51] Kriesse commented on #30
@Onna-no-hito  I think there will be BBQ later at the party, so how about we just hit one of the bars - should be fine without reservation.

[2014-06-23 12:32] Kriesse commented on #26
@plique Next step should be an organizer’s meetup ASAP, open to all people who are interested in coaching etc. Let’s agree on an evening we can both make and then invite people?

[2014-06-23 12:42] schoolofma commented on #26
can't you just invite them to the informal eve we already have planned?
its an organisers meetup for everyone involved in jsfest, seems it would be a totally
appropriate place or?

[2014-06-23 12:43] schoolofma commented on #30
@Kriesse yes of course, i don't care about food, just that we meet up:)

so Würgeengel or TrödlerBar?

[2014-06-23 12:50] Kriesse commented on #26
No, this is a separate meetup – purpose should be to get CSSclasses going and work very focused on getting things done :)

[2014-06-23 12:54] schoolofma commented on #30
ok i'll make it easy: Friday, June 27, 2014 8:00 PM Würgeengel
all jsfest organisers invited!

if new people come or anyone has to cancel, msg me so i can keep tabs on rsvp:
rachel@schoolofma.org

so far we have: Jana, Jan. M. , Robin, Rachel , Kriesse (?)
cheers,see you all then!

[2014-06-23 13:01] bitboxer commented on #30
Sorry, can't be there. Will be at a festival :dancers:

[2014-06-23 13:21] plique commented on #26
@kriesse What if we would meet also on friday at Würgeengel but earlier? (If you have the time) 18.30h or 19h? Otherwise Thursday would be our only chance, right? Or next week monday night?

Jana Ahrens
Delbrückstraße 18
12051 Berlin

www.plique.net
jana_ahrens@plique.net

+49 (0)178 5568983

Am 23.06.2014 um 14:50 schrieb Kristina Schneider notifications@github.com:

[2014-06-23 13:41] Kriesse commented on #26
@plique Let’s try next week then

[2014-06-23 13:43] plique commented on #26
@kriesse what about monday night? at your kitchentable?

Jana Ahrens
Delbrückstraße 18
12051 Berlin

www.plique.net
jana_ahrens@plique.net

+49 (0)178 5568983

Am 23.06.2014 um 15:41 schrieb Kristina Schneider notifications@github.com:

[2014-06-23 13:45] Kriesse commented on #26
Let’s say GriGri, unless the weather isn’t nice :) More room for more people.

[2014-06-23 13:46] plique commented on #26
@kriesse √

Am 23.06.2014 um 15:45 schrieb Kristina Schneider notifications@github.com:

[2014-06-23 13:48] QateOh commented on #5
Natanja&heinrich?

Von meinem iPhone gesendet

[2014-06-23 15:44] Kriesse commented on #5
Maybe somewhere where we can get dinner?

[2014-06-23 17:45] maxfell commented on #5
I'm all right with date/time. We could also go to my place (at Ostkreuz) and grab some Döner/Pizza/Vegan stuff on the way. But I'm open to anything!

[2014-06-23 20:03] QateOh commented on #5
Masagnello,
Manuela tapas,
Liberda,
Melbourne canteen,
Ankerklause,
Morena,
...

Von meinem iPhone gesendet

[2014-06-23 22:05] QateOh commented on #5
Oh, and Max, thanks for the offer:) in eine Kneipe/Restauration zu gehen ist vielleicht angenehm wegen food und Getränken vor Ort. Aber brauchen wir wifi?? Morena und Melbourne canteen haben glaub ich..

Von meinem iPhone gesendet

[2014-06-23 22:09] maxfell commented on #30
I would join!

[2014-06-24 07:21] karlwestin commented on #14
Sure sounds like a good idea,
Is the idea to have an event directed to beginners, or should we create a more advanced workshop? (people from the node beginners workshop asked about DB:s, testing, etc)

[2014-06-24 12:21] QateOh commented on #5
Hat jemand was gegen Mebourne Canteen morgen abend?? Dann kann ich dort einen Tisch reservieren. http://www.melbournecanteen.com/de/karte/abendessen/

[2014-06-24 12:22] Kriesse commented on #5
Works for me!

[2014-06-28 12:58] Kriesse commented on #30
Thanks everyone who came out last night, was good catching up on each other’s organizers issues :)
Let’s definitely repeat this! Closing issue for now.

[2014-06-28 12:58] #30 closed, assigned to nobody

[2014-07-02 19:57] chrisguttandin commented on #11
Hello everybody, I contacted Jan last week and offered my help because I very much like the idea of a Web Audio Event. He asked me to introduce myself here and that's what I am doing now. :-)

[2014-07-07 20:00] Kriesse commented on #23
Closing, since noone took it on – for now, maybe just point the domain to the jsfest site?

[2014-07-07 20:00] #23 closed, assigned to nobody

[2014-07-07 20:01] Kriesse commented on #26
This is confirmed :) Closing, further planning is happening in goodle docs / emails / face-to-face. Contact @plique or @kriesse to get involved.

[2014-07-07 20:01] #26 closed, assigned to plique

[2014-07-07 20:03] Kriesse commented on #19
(Obvious) inspiration for a complex event schedule: https://www.google.com/events/io/schedule

[2014-07-07 20:04] Kriesse commented on #5
@QateOh Did we get a response for the venue at Kotti yet?

@maxfell Any response from Prachtwerk?

[2014-07-07 20:05] Kriesse commented on #25
@Onna-no-hito Should we close this, since no one has the bandwidth to take it on?
(Should plan another Organizers meetup though ;) )

[2014-07-07 20:06] Kriesse commented on #27
+1
I think a compact version at the bottom, with a link to the full site, would be great.

[2014-07-07 20:16] schoolofma commented on #25
yeah sure-- i lost the bandwidth myself-- many many things going on in this conference already:)
consider it closed!

[2014-07-07 20:16] Kriesse opened #35 "Add favicon"
…it looks so sad :D

[2014-07-08 12:31] frontdevde opened #36 "Creative Briefing for CD/website"
Please add your ideas/thoughts/wishes for the CD/website to

https://docs.google.com/a/cssconf.eu/document/d/1IUNFukXc0rNLgAAxjjwr5e-WYVKvN_fqRPQuoYxWzIk/edit

[2014-07-10 08:51] janv commented on #6
I've recently talked to different people regarding the future of the Angular Meetup.
One idea that we're thinking about is to design a meeting more in the form of a workshop, where beginner are free to poke questions at more experienced people, show code to each other etc. instead of having presentations.

I was thinking of using the september meetup for that.

[2014-07-10 09:53] janl commented on #6
Sounds great to me!

[2014-07-21 17:57] verpixelt opened #39 "jsfest.berlin about text"
Is there already an about text and additional information we want to include into the page?

[2014-07-28 09:15] #35 closed, assigned to nobody

[2014-07-28 09:15] Kriesse commented on #36
done

[2014-07-28 09:15] #36 closed, assigned to nobody

[2014-07-28 09:15] #25 closed, assigned to nobody

[2014-07-31 22:22] janmonschke commented on #11
Hey everyone!

a lot of things happened recently and the event is really taking shape!

1) We now have an event on EventBrite for people to sign up: https://www.eventbrite.co.uk/e/web-audio-hack-day-tickets-12451959145 (If you're helping you don't need a ticket). This event will be communicated via Twitter next week.

2) We are happy to have @sole from Mozilla on board! She will give an introducti

[2014-08-01 00:04] woodworker commented on #11
another nice tool for playing around with webaudio is http://wavepot.com/
ill be back in the internet at monday, need to listen to a lot of loud music on the weekend

i know someone from bitwig, i ask if they want to sponsor a bit,
they also like javascript, as all of their scripts for controller support for the DAW are written in javascript

[2014-08-01 15:23] janv commented on #6
So, we put up some info on the Meetup page and [prepared a branch](https://github.com/rmehner/jsfest.berlin/tree/angularjs).
I'm trying to figure out a solution to the venue problem with @AliAlbazaz and open a pull request afterwards.

[2014-08-03 20:52] chrisguttandin commented on #11
Thanks for the update. I am very busy at the moment but I guess everyone is busy somehow. I think I can fit in some hours at the end of this week to work on the website. I can do the technical part but I would really appreciate if someone else did a simple design for it. Do you know someone who could do that?

Maybe we could have a quick chat about it tomorrow.

[2014-08-04 15:30] rmehner commented on #13
Hey there, JS Code Retreat is looking for a venue that holds ~50 people for a whole day. If you have any pointers, please let us know! /cc @wolframkriesing

[2014-08-04 18:49] baruchlab commented on #13
heya it may be possible at our space http://info.thoughtworks.com/berlin best if one of you comes by and takes a look! let me know @wolframkriesing @janl

[2014-08-05 09:26] wolframkriesing commented on #13
@baruchlab would be awesome. can we have a quick hangout/skype call regarding details? ping me on twitter or email wolfram at uxebu. thanks

[2014-08-05 18:35] verpixelt commented on #39
Is there more to come or can we close this ticket?

[2014-08-05 18:36] Kriesse commented on #39
closing for now if now one complains

[2014-08-05 18:36] #39 closed, assigned to nobody

[2014-08-05 18:43] verpixelt commented on #19
I guess we could close this issue now ;) Or would you like to keep it open until the detail pages are finished?

[2014-08-05 18:44] Kriesse commented on #19
Yeah, close it :)

[2014-08-05 18:47] verpixelt commented on #20
Is there a link to the shared Google Doc available so everyone is able to check if we got everything!?

[2014-08-05 18:48] verpixelt commented on #24
+1

[2014-08-05 18:49] #19 closed, assigned to Dangoo

[2014-08-05 18:58] verpixelt commented on #27
Do we want to have this integrated on the jsfest.berlin page itself? I could work something out.

[2014-08-05 22:05] finnp commented on #14
I only now saw this discussion, but I would like to do a nodeschool (discussion here: https://github.com/nodeschool/discussions/issues/439). I thought about September 10th for a date, even though that would collide with BerlinJS.

What is the state of the JS workshop?

[2014-08-06 18:54] xMartin commented on #14
Just checked the schedule and where we would fit in the OTS JavaScript for Beginners workshop. Is there a reason nothing happens on Sunday? I'd definitely take the Sunday. The workshop we usually do is a two-day workshop but Saturday is pretty packed with stuff although of course we can always add more. We could also think about reducing the workshop to one day (Sunday only). What do you think?

[2014-08-06 20:31] finnp commented on #14
I think Sunday would be fine, since I don't go to the JSConf.EU. If the OTS workshop is the whole Sunday, probably many people who go to JSConf can't help. But I think we would get enough coaches anyway (The OTS courses are mainly self-directed right?)

Maybe I would try to addionally organize a nodeschool on Wednesday, depending on how much help you need organizing. How much support do your have

[2014-08-06 20:52] xMartin commented on #14
I was going for the weekend so participants don't have to take a day (or two) off. That of course means no conference people can coach but I don't see how that could work at all anyway. And yes, I assume we find enough coaches. I'm checking with co.up as a venue.

Let's move the detailed discussion over here: http://discourse.opentechschool.org/t/javascript-for-beginners-workshop-jsfest-berlin/875

[2014-08-07 07:49] theophani commented on #27
@verpixelt If you could integrate it on the site, that would be really nice. Maybe some top line things and then a link to @mroderick’s full post?

[2014-08-07 07:53] mroderick commented on #27
It'll probably get more attention and help more people, if it's properly integrated on the site. That would be really nice indeed

[2014-08-07 07:57] Dangoo commented on #27
Yeah it'll be helpfull, but I'm a bit concerned about the place where to
integrate it. I'd suppose a separate page cause otherwise the events on the
main page will get more and more out of focus/viewport.

Am Donnerstag, 7. August 2014 schrieb Morgan Roderick :

##

##

Daniel Gooß, Development

daniel.gooss@sinnerschrader.com

SinnerSchrader Deutschland GmbH | SinnerSchrader Group
Völckersstraße

[2014-08-07 08:00] mroderick commented on #27
Yeah, let's not take too much focus away from the schedule. A separate page would also mean an easily linkable url.

[2014-08-07 08:34] verpixelt commented on #27
Because we're talking about a welcome guide it would miss the point to place it somewhere at the bottom of the page. Maybe we can do something simple, like this:

![screen shot 2014-08-07 at 10 32 04](https://cloud.githubusercontent.com/assets/1640079/3839167/6b2c8f54-1e0d-11e4-948f-a772cd893310.png)

Therefor we should finish the layout for the detail pages to get a more consistent look.

[2014-08-07 14:17] verpixelt commented on #27
@mroderick I have two questions. A) Could we please change the headline to "Geekettes & Geeks, welcome to Berlin" and b) I would like to add another Foursquare link and a bit additional info from a good friend of mine(she has also written a little welcome guide for CSSConf last year and would be fine with us using it). So if it is okay for you I would do the changes in the version on the jsfest pa

[2014-08-07 14:35] verpixelt commented on #27
update: I have applied a page template and integrated the whole post from @mroderick (I only have to push it)

[2014-08-07 15:46] theophani commented on #27
I believe "geeks" is gender neutral, and gendered nouns like that are very passé. If you really believe that saying Geekettes will make women feel more included, I may be sway, but you may find your option changes after you are exposed to research demonstrating how being explicit about gender actually reenforces stereotypes and by choosing to use the gendered variation "Geekette" you reenforce the

[2014-08-07 15:51] mroderick commented on #27
I'd much prefer to stick with a gender neutral noun. If for some reason "geek" doesn't cut it, then I am more than happy to replace it with another neutral noun.

[2014-08-07 15:51] theophani commented on #27
“People! … ”

[2014-08-07 15:52] mroderick commented on #27
Works

[2014-08-07 15:52] theophani commented on #27
@verpixelt For the record, I appreciate your desire to be inclusive. I just don't think that is the way to do it ;)

[2014-08-07 15:54] verpixelt commented on #27
We don't have to change it at all if the majority thinks that 'geeks' fit. Personally I find it more pleasing like "Welcome ladies and gentlemen" but never mind. If we could agree on how to deal with my second question I may be able to publish the page today/tomorrow. (and thanks for your input)

[2014-08-07 15:58] mroderick commented on #27
It's a bit difficult to answer the second question without a bit more context. Have you got the changes in a branch somewhere? Or can you link to your friend's content?

[2014-08-07 16:06] verpixelt commented on #27
Yeah sure the one thing is just a link to a foursquare list of amazing places https://de.foursquare.com/ffffux/list/cssconfeus-favourites and the oher is this blog post on the CSSConf 2013 page: http://2013.cssconf.eu/2013/08/27/things-to-do-in-berlin.html

[2014-08-08 16:22] janmonschke commented on #11
Hey everyone :)

The event has sold out yesterday and the waiting list is filling up :)

In addition to our first speaker, Soledad Penadés, we now also have Chris Wilson from Google on board for the event \o/

Hope you enjoyed Wacken @woodworker ;)

Who in here feels like being able to attend the event as a facilitator (helping attendees with the API)? (/cc @chrisguttandin @mrflix)

[2014-08-08 16:31] woodworker commented on #11
i wasn't at wacken, was at Schlagstrom

at the moment i'm looking into WebMidi[1] and NoFlo-Webaudio [2]
to get some easy sample code done for people to start with
and to get into the web audio api stuff at all

does already a design appeared from somewhere for the event page?
or do we need to come up with one our selfs?

do we want to add some basic samples on the event page to play around
or jus

[2014-08-09 07:54] mroderick commented on #27
I think those are both great resources to link to!

[2014-08-14 13:15] finnp opened #50 "Jugend Hackt, 12-14 September"
Hey,

I just noticed that the Jugend Hackt event is also happening in September: http://jugendhackt.de. Details about it are only available in German. Does it make sense to include it on the website?

Best,
Finn

[2014-08-14 13:17] rmehner commented on #50
Of course it does, we wanna highlight all the relevant events in Berlin around that time :)

[2014-08-14 13:48] #50 closed, assigned to nobody

[2014-08-20 16:56] janmonschke opened #53 "Detail pages"
Hi everyone,

I was wondering if somebody is already working on detail pages for the events. For the Web Audio Hack Day we are working on a page that has the time table and some other resources for attendees.
It would be cool to have detail pages in a consistent design :)

/Jan

[2014-08-20 18:19] Dangoo commented on #53
Hey Jan,

it's my plan to build some, but currently I'm not shure if we should do
separate pages or slide in layers for details. Somebody else got an opinion?

Cheers Daniel

##

##

Daniel Gooß, Development

daniel.gooss@sinnerschrader.com

SinnerSchrader Deutschland GmbH | SinnerSchrader Group
Völckersstraße 38, 22765 Hamburg, Germany

Amtsgericht Hamburg HRB-Nr. 63663
Geschäftsführer: Matthias

[2014-08-20 20:37] finnp commented on #53
Keep it decentral, if people want to use other people's design, they can fork it. Many events already have their pages.

[2014-08-27 08:12] #27 closed, assigned to nobody

[2014-09-02 16:04] woodworker commented on #11
i can bring some usb midi devices for testing webmidi
- bcr2000 (which also has midi in/out/through)
- mpkmini
- korg nanopad

[2014-09-02 16:20] janmonschke commented on #11
Sorry for being so quiet in the last weeks, many things have happened in the meantime :)

Great idea to bring MIDI devices. I will bring my mini DJ device as well!

Actually, we will have prizes for the three best audio demos in the form of MIDI devices.

I thought about these:
- http://www.amazon.de/KORG-nanoPAD2-USB-MIDI-Controller-Triggerpads-Schwarz/dp/B004M8YPKM
- http://www.amazon.de/Akai-LP

[2014-09-03 08:34] woodworker commented on #11
Does Webaudio has a Logo?
If not how about this?

http://prolope.de/svg/webaudio-js.svg
JS Logo + Public Domain Speaker Icon

Source: http://commons.wikimedia.org/wiki/File:Speaker_Icon.svg

[2014-09-03 08:38] woodworker commented on #11
As Prize, maybe this?
http://www.amazon.de/Akai-LPD8-MIDI-Laptop-Controller/dp/B002M8EEW8/

Like the mixture of Potis and Pads

[2014-09-03 09:20] theophani commented on #11
That logo is rad :D

[2014-09-03 09:56] sole commented on #11
Wow! yeah! I love it!

I think there is no official Web audio logo, I'm going to ask.

[2014-09-03 09:57] sole commented on #11
Also @janmonschke I have the keyboard version of the Korg nanopad, they're plastic-y but for the price they are pretty decent. And they instaworked with the Web MIDI API in Chrome last time I tried!
That said I'm spoiled because I'm using Mac and MIDI is pretty decent in there, but hey, probably 99% of people are going to be using Mac too.

[2014-09-03 10:00] janmonschke commented on #11
Absolutely love the logo @woodworker :heart:

Thx for the input on MIDI devices. The plan was to buy three devices in total so I'll go for buying one of each so that participants can choose ;)

@sole Would it be okay if you bring the Nanopad to the hackathon?

[2014-09-03 10:03] sole commented on #11
@janmonschke I think it's feasible! I'll make a note for when I pack my luggage next week!

[2014-09-07 16:19] janmonschke commented on #11
Devices are ordered, a reminder email has been sent to the attendees, Google is sponsoring snacks for dinner. I think we are ready for the event :))

[2014-09-08 08:27] Kriesse opened #75 "Past events: Make grey / smaller or similar"
So that it's clear that they are over, and that they don't block the list and make you scroll

[2014-09-11 15:22] woodworker commented on #11
We now also have a Bitwig Studio License as price for tomorrow.

[2014-09-18 15:09] janmonschke opened #77 "<3"
It was an awesome week! You were all amazing! :heart:

[2014-09-19 13:47] janl commented on #77
Yes, agreed, thank you everyone! <3

[2014-09-19 13:48] boennemann commented on #77
:+1: :revolving_hearts:

[2014-09-19 15:29] verpixelt commented on #77
Yup, was much fun!!! If it will happen again I'm so gonna help wherever I can ;)

[2014-09-24 14:24] jalbertbowden commented on #11
html5 api icons via w3c http://www.w3.org/html/logo/img/icons-2.png
web media api icon styled http://www.w3.org/html/logo/img/class-header-multimedia.jpg
just for reference;
i like yours

[2015-06-25 14:14] #3 closed, assigned to trodrigues

[2015-06-25 14:14] #4 closed, assigned to nobody

[2015-06-25 14:14] #5 closed, assigned to Kriesse

[2015-06-25 14:14] #6 closed, assigned to nobody

[2015-06-25 14:14] #7 closed, assigned to nobody

[2015-06-25 14:14] #8 closed, assigned to rmehner

[2015-06-25 14:14] #9 closed, assigned to Kriesse

[2015-06-25 14:14] #10 closed, assigned to nobody

[2015-06-25 14:14] #11 closed, assigned to janmonschke

[2015-06-25 14:14] #13 closed, assigned to nonken

[2015-06-25 14:14] #14 closed, assigned to nobody

[2015-06-25 14:14] #15 closed, assigned to nobody

[2015-06-25 14:14] #16 closed, assigned to nobody

[2015-06-25 14:14] #17 closed, assigned to theophani

[2015-06-25 14:14] #18 closed, assigned to mroderick

[2015-06-25 14:14] #20 closed, assigned to nobody

[2015-06-25 14:14] #22 closed, assigned to rmehner

[2015-06-25 14:14] #24 closed, assigned to nobody

[2015-06-25 14:14] #53 closed, assigned to nobody

[2015-06-25 14:14] #75 closed, assigned to verpixelt

[2015-06-25 14:14] #77 closed, assigned to nobody